a {
	text-decoration: none;
}

.current {
	text-decoration: underline overline;
}

.nav {
	background: #4d4d4d;
	display: flex;
	width: 100%;
	a:link, a:visited {
		color: #cccccc;
	}
}

.default {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	overflow-x: auto;
}

.footer {
	background: purple;
	flex-direction: row;
	overflow: hidden;
}
.header {
	background: green;
}

@media all and (min-width: 860px) {

}

/*--Responsive--*/
@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 860px) {

	.nav-link-ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		list-style: none;
		margin: 0;
	}

	.nav-link-li {
		text-decoration: none;
		padding: 10%;
	}
}
